*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

strong{
    color: red;
}

.card{
    border-radius: 12px;
    transition: 0.2s ;
}
.star{
    padding: 0 2px;
    margin: auto 5px;
}
.detailsCard{
    height: auto;
}
span{
   font-weight: 400;
}
.cardBody{
    height: auto
}
h5{
    line-height: 30px;
}
.avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

